<h1>Categories</h1>
  <div class="container">
  <h2>Check out all the places you can visit!</h2>
  </div>

  <div class="grid-container">
  <% @categories.each do |category| %>
      <% if category.image.attached? %>
        <div class="category_images">
          <%= link_to category.name, category_path(category.id) %>
          <a href="<%=category_path(category)%>" ><%= image_tag(category.image, :size => "304x236") %></a></div>
      <% end %>

  <% end %>
  </div>
