<h1>Activities</h1>

<% @activities.each do |activity|%>
    <div> <%= link_to activity.name, activity_path(activity.id) %> </div>
<% end %>
<br>
<div> <%= link_to "New Activity", new_activity_path %>
<div> <%= link_to "Main Page", welcome_index_path %> </div>
