<h1> <%= @activity.name %></h1>

<div>
  <%= image_tag(@activity.img_url) %>
</div>

<div>
  <%= link_to "Delete activity", @activitty, method: "DELETE", data: {confirm: "Delete this activity?"} %>
</div><br>

<div>
  <%= link_to "All activities", activities_path %>
</div>
