<h1>Places</h1>
<div class="container">
  <h2>Check out all the places you can visit!</h2>
</div>
<% @places.select do |place|%>
<div class="list-group-item">
    <%= link_to place.city, place_path(place.id) %>
</div>
  <% end %>
