<h1>Places</h1>

<% @places.each do |place|%>
  <div> <%= link_to place.city, place_path(place.id) %> </div>
<% end %>
<br><br>
<div> <%= link_to "New Place", new_place_path %>
<div> <%= link_to "Main Page", welcome_index_path %> </div>
