<h1>Places</h1>
<div class="container">
  <h2>Check out all the places you can visit!</h2>
  <div class="list-group">
  <% @places.select do |place|%>
  <div class="list-group-item">
  <%= link_to place.city, place_path(place.id) %>
  <div class="img-circle" alt="Cinque Terre" width="304" height="236">
  </div>
</div>
  <% end %>
