<h1>Places</h1>
<div class="container">
    <h2>Check out all the places you can visit!</h2>
</div>

<div class="grid-container">
<% @places.each do |place| %>

    <% if place.image.attached? %>

      <div class="category_images">
        <%= link_to place.city, place_path(place.id) %>
        <a href="<%=place_path(place)%>" ><%= image_tag(place.image, :size => "304x236") %></a>
      </div>

    <% end %>

<% end %>
</div>
