<h1> <%= @place.city %></h1>

<div>
  <%= link_to "Delete place", @place, method: "DELETE", data: {confirm: "Delete this place?"} %>
</div><br>

<div>
  <%= link_to "All places", places_path %>
</div>
