<h1> <%= @place.city %></h1>


  activities

  
<div>
  <%= link_to "Edit this place", edit_place_path %>
</div>
<div>
  <%= link_to "Delete place", @place, method: "DELETE", data: {confirm: "Delete this place?"} %>
</div>

<div>
  <%= link_to "All places", places_path %>
</div>
